<div class="example-container">
    <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="menus" [cdkDropListConnectedTo]="[doneList]"
    class="example-list" (cdkDropListDropped)="drop($event)">
    <div *ngFor="let groupItem of menuGroup">
      <div>{{groupItem}}</div>
      <div class="example-box" *ngFor="let item of menus">
        <div *ngIf="checkIfExists(item,groupItem)" cdkDrag>{{item.description}}</div>
      </div>
    </div>

  </div>
</div>

<div class="example-container">
  <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="menusSelected" [cdkDropListConnectedTo]="[todoList]"
    class="example-list" (cdkDropListDropped)="drop($event)">

    <div class="example-box" *ngFor="let item of menusSelected" cdkDrag>
      <div>{{item.description}}</div>
      <div *ngIf="item.name=='userSubscribed'">
        <app-send-email [item]="item"></app-send-email>
      </div>
      <div *ngIf="item.name=='sendEmail'">
        <app-send-email [item]="item"></app-send-email>
      </div>
      <div *ngIf="item.name=='sendSms'">
        <app-send-email [item]="item"></app-send-email>
      </div>
    </div>
  </div>
</div>
<div>

</div>


