<div class="example-container">
  <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="menus" [cdkDropListConnectedTo]="[doneList]"
    class="example-list">
    <div *ngFor="let groupItem of menuGroup">
      <div>{{groupItem}}</div>
      <div *ngFor="let item of menus">
        <div [ngClass]="item.type == 'event' ? 'example-box' : 'example-box-action' "
          *ngIf="checkIfExists(item,groupItem)" cdkDrag>{{item.description}}</div>
      </div>
    </div>

  </div>
</div>

<div class="example-container">
  <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="menusSelected" [cdkDropListConnectedTo]="[todoList]"
    class="example-list" (cdkDropListDropped)="drop($event)">
    <div [ngClass]="item.type == 'event' ? 'example-box' : 'example-box-action' " *ngFor="let item of menusSelected"
      cdkDrag>
      <div>{{item.description}}</div>
      <div>
        <app-build [item]="item"></app-build>
      </div>
    </div>
  </div>
</div>
<div>

</div>