<div class="example-container">
  <h2>Events</h2>

  <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="menus" [cdkDropListConnectedTo]="[doneList]"
    class="example-list" (cdkDropListDropped)="drop($event)">
    <div *ngFor="let groupItem of menuGroup">
      <div>{{groupItem}}</div>
      <div class="example-box" *ngFor="let item of menus">
        <div *ngIf="checkIfExists(item,groupItem)" cdkDrag>{{item}}</div>
      </div>
    </div>

  </div>
</div>

<div class="example-container">
  <h2>Actions</h2>

  <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="menusSelected" [cdkDropListConnectedTo]="[todoList]"
    class="example-list" (cdkDropListDropped)="drop($event)">

    <div class="example-box" *ngFor="let item of menusSelected" cdkDrag>
      <div>{{item}}</div>
      <div *ngIf="item=='Events : User Subscribed'">
        <app-send-email></app-send-email>
      </div>
      <div *ngIf="item=='Actions : Send Email'">
        <app-send-email></app-send-email>
      </div>
      <div *ngIf="item=='Actions : Send SMS'">
        <app-send-email></app-send-email>
      </div>
    </div>
  </div>
</div>
<div>

</div>



<!-- Copyright 2022 Google LLC. All Rights Reserved.
      Use of this source code is governed by an MIT-style license that
      can be found in the LICENSE file at https://angular.io/license -->